extends layout

block content
  h1 #{title}
  if productos.length > 0
    .producto-container
      each producto in productos
        .producto
          .img-contenedor
            img(src=`/images/${producto.imagen}`, alt=producto.nombre)
          h2= producto.nombre
          p= producto.descripcion
          p Disponible: #{producto.cantidad} piezas
          p Precio: $#{producto.precio}
          .btnProductos
            form(action=`/agregar-al-carrito/${producto.id}`, method='POST')
              button(type='submit' class='btn-agregar-produc') Agregar al carrito
  else
    p No se encontraron resultados.
